@media (max-width:480px) {

    header{
        width: 100%;
    }

    .container-header{
        justify-content: space-around;
        gap: 37px;
    }

    header{
        height: 900px;
    }

    .text-main{
        display: flex;
        justify-content: left;
        gap: 2rem;
        width: 80%;
        justify-content: flex-start;
    }

    .btn-main{
        display: flex;
    }

    .img-main img{
        display: none;
    }

    .container-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card{
        width: 100%;
    }

    .call{
        justify-content: center;
    }

    .call button{
        width: 50%;
    }

    footer{
        flex-direction: column;
        justify-content: left;
        text-align: center;
    }
}