@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    font-family: "Bebas Neue", sans-serif;
    background-color: rgb(245, 222, 179, 0.5);
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header{
    background: url('images/ChatGPT\ Image\ 4\ de\ dez.\ de\ 2025\,\ 12_54_50.png');
    background-size: cover;
    width: 100%;
    background-color: black;
    height: 700px;
}

.container-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: black;
    position: fixed;
    width: 100%;
}

.container-header nav a{
    margin-left: 10px;
}

.container-header nav a:hover{
    color: wheat;
}

.container-header img{
    height: 50px;
}

.btn{
    background-color: rgb(245, 222, 179);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    transition: 0.2s ease-in-out;
}

.btn:hover{
    background-color: rgb(245, 203, 126);
    transform: scale(1.10);
    box-shadow: 0px 0px 10px wheat;
}

.container-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.text-main{
    width: 40%;
    color: #f5deb3;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: 80px;
    margin-top: 50px;
}

.text-main h1{
    font-size: 40px;
    font-family: "Great Vibes", cursive;
}

.text-main button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: wheat;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.whatsapp{
    margin-left: 10px;
}

.text-main button:hover{
    background-color: rgb(245, 203, 126);
    transform: scale(1.01) translateY(-5px);
    box-shadow: 0px 0px 10px wheat;
}

.text-main .score{
    display: flex;
    gap: 15px;
}

.text-main li{
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    color: wheat;
    border-radius: 5px;
    padding: 5px 15px;
    gap: 5px;
}

.text-main strong{
    font-size: 25px;
}

.text-main li:hover{
    background-color: rgb(245, 222, 179);
    color: black;
    box-shadow: 0px 0px 10px wheat;
}

.text-main strong:hover{
    color: black;
}

.img-main img{
    border-radius: 50%;
    height: 350px;
    box-shadow: 0px 0px 15px black;
}

.main-title{
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
}

.main-title h2{
    font-size: 40px;
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin: 0 auto;
    gap: 20px;
    padding: 0 10px;
}

.card{
    background-color: wheat;
    max-width: 300px;
    min-width: 200px;
    height: 530px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    transition: 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.02) translateY(-10px);
    background-color: #bdac8c;
    box-shadow: 0 0 10px rgb(94, 86, 86);
}

.card img{
    height: 360px;
    width: 100%;
    border-radius: 10px;
}

.card h4{
    font-size: 25px;
    text-align: center;
}

.sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.sobre-img img{
    width: 100%;
    padding: 20px;
}

.sobre-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.sobre-text h2{
    text-align: center;
}

.call{
    text-align: center;
    background-color: wheat;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-top: 50px;
}

.call button{
    width: 20%;
    margin: 0 auto;
    padding: 10px 0;
    border: 2px solid rgb(48, 32, 32);
    background-color: rgb(48, 32, 32);
    color: wheat;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.call button:hover{
    background-color: wheat;
    border: 2px solid black;
    color: black;
    box-shadow: 0px 0px 10px black;
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    gap: 50px;
    background-color: rgb(27, 19, 19);
    color: wheat;
}

footer h4{
    margin-bottom: 10px;
}